.main-blog-card {
  width: 100%;
  border: 0.5px solid lightgray;
  cursor: pointer;
}
.blog-card {
  width: 100%;
}

.blog-card:hover .top img {
  transform: scale(1.2);
}

.blog-card .top {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.top .cetagory-name {
  position: absolute;
  top: 15px;
  left: 15px;
  border: 0.5px solid var(--highlight-clr);
  background-color: var(--highlight-clr);
  color: white;
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 10px;
}

.top img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  transition: 1s;
}

.blog-card .bottom {
  width: 100%;
  padding: 0 15px 15px;
}

.bottom .info {
  display: flex;
  color: var(--text-clr);
  justify-content: space-between;
  align-items: center;
}

.info p {
  font-size: 0.9rem;
}

.info p .icon {
  margin-right: 3px;
}

.bottom .blog-title {
  margin: 10px 0;
  line-height: 1.4;
  font-size: 1.3rem;
  color: var(--heading-clr);
}

.bottom .blog-text {
  line-height: 1.5;
  font-size: 1rem;
  font-family: sans-serif;
  color: var(--text-clr);
}

.blog-bottom-icon {
  padding: 0px 15px 10px 0;
  text-align: right;
}
.blog-bottom-icon .icon {
  margin-left: 20px;
  font-size: 1.1rem;
  color: var(--heading-clr);
  transition: 0.4s;
}

.blog-bottom-icon .icon:hover {
  color: var(--highlight-clr);
}

.view-btn {
  width: fit-content;
  text-decoration: none;
  background-color: var(--heading-clr);
  color: var(--main-clr);
  padding: 10px 70px;
  margin-top: 10px;
  transition: 0.5s;
}

.view-btn:hover {
  background-color: var(--highlight-clr);
}

@media screen and (max-width: 900px) {
  .bottom .info p {
    font-size: 0.9rem;
  }
  .bottom .blog-title {
    font-size: 1.1rem;
  }
  .bottom .blog-text {
    line-height: 1.4;
    font-size: 0.9rem;
  }
  .delete-warning-wrapper {
    width: 400px;
    height: 250px;
  }
}

@media screen and (max-width: 650px) {
  .delete-warning-wrapper {
    width: 300px;
    height: 200px;
  }
  .buttons button {
    padding: 6px 15px;
    font-size: 0.9rem;
  }
  .delete-warning-wrapper h1 {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 550px) {
  .view-btn {
    padding: 8px 30px;
  }
}

@media screen and (max-width: 500px) {
  .bottom .info p {
    font-size: 0.8rem;
  }
  .bottom .blog-title {
    font-size: 1rem;
  }
  .bottom .blog-text {
    line-height: 1.4;
    font-size: 0.8rem;
  }
  .top .cetagory-name {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 3px 7px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 450px) {
  .view-btn {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
  .delete-warning-wrapper {
    width: 250px;
    height: 150px;
  }
  .buttons button {
    padding: 6px 15px;
    font-size: 0.7rem;
  }
  .delete-warning-wrapper h1 {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 300px) {
  .view-btn {
    padding: 8px 20px;
    font-size: 0.8rem;
  }
}
