nav {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: var(--heading-clr);
}

nav .nav-menu {
  transition: right 0.7s;
  display: flex;
  align-items: center;
}

nav .logo {
  text-decoration: none;
}

nav .logo h1 {
  font-size: 2.5rem;
  color: var(--white-clr);
}

nav li {
  width: fit-content;
  margin: 0 auto;
  list-style-type: none;
  padding: 0 25px;
}

nav li a {
  text-decoration: none;
  color: var(--white-clr);
  font-family: sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  display: block;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

nav li a:hover {
  color: var(--highlight-clr);
}

nav .fa-bars {
  display: none;
}

.fa-xmark {
  display: none;
}

nav .nav-menu li .auth-btn {
  padding: 8px 14px;
  border-radius: 5px;
  font-size: 0.9rem;
  border: none;
  background-color: var(--highlight-clr);
  color: var(--white-clr);
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  nav .logo h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
  nav {
    padding: 0 25px;
  }
  nav li {
    padding: 0 15px;
  }
}

@media screen and (max-width: 650px) {
  body {
    overflow-x: hidden;
  }
  nav .logo h1 {
    font-size: 2rem;
  }

  nav .nav-menu {
    background-color: var(--heading-clr);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    text-align: center;
    z-index: 100;
  }

  .nav-menu.active {
    right: 0;
  }

  nav li {
    padding: 30px 0;
  }

  nav li a {
    font-size: 1.1rem;
    font-weight: 500;
  }

  nav .fa-bars {
    display: block;
    cursor: pointer;
    font-size: 25px;
    color: var(--white-clr);
  }

  .fa-xmark {
    display: block;
    width: fit-content;
    font-size: 28px;
    position: absolute;
    top: 20px;
    right: 27px;
    cursor: pointer;
    color: var(--white-clr);
  }
  nav .nav-menu li .auth-btn {
    padding: 10px 18px;
  }
}

@media screen and (max-width: 450px) {
  nav .logo h1 {
    font-size: 1.7rem;
  }
  nav {
    height: 10vh;
  }
  .fa-xmark {
    top: 15px;
    right: 28px;
    cursor: pointer;
  }
  nav li {
    padding: 25px 0;
  }
  nav li a {
    font-size: 1rem;
  }
}
