@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --main-clr: rgb(241, 240, 240);
  --highlight-clr: rgb(7, 133, 7);
  --heading-clr: #203656;
  --white-clr: white;
  --text-clr: rgb(108, 107, 107);
}

::-webkit-scrollbar {
  width: 9px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--heading-clr);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.delete-warning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-warning-wrapper {
  width: 500px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px black;
}

.delete-warning-wrapper h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.delete-warning-wrapper .buttons {
  display: flex;
  gap: 30px;
}

.buttons button {
  padding: 8px 20px;
  background-color: var(--heading-clr);
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.disabled {
  display: none;
}

@media screen and (max-width: 1000px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    width: 2px;
  }
}
@media screen and (max-width: 500px) {
  ::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-thumb {
    width: 2px;
  }
}
